NODE_ENV=development
# PORT=3000

DATABASE_URL=postgresql://username:password@localhost:5432/db?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_URL=localhost:9092

# KAFKA_URL=pkc-w12qj.ap-southeast-1.aws.confluent.cloud:9092
# KAFKA_API_KEY=N4DMDIS7PVSB5AOS
# KAFKA_API_SECRET=hBKldrSu8COCIUbfoN0NVr3o/XnFdQ6+7mCALsuMkG+vdAPiBpTk+b7QfBfycAFH